<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WeatherAppClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WeatherAppClient.Properties.Settings>
            <setting name="Action" serializeAs="String">
                <value>Akcja</value>
            </setting>
            <setting name="Author" serializeAs="String">
                <value>O autorze</value>
            </setting>
            <setting name="Close" serializeAs="String">
                <value>Zamknij</value>
            </setting>
            <setting name="Information" serializeAs="String">
                <value>Pełna informacja</value>
            </setting>
            <setting name="City" serializeAs="String">
                <value>Wybrane miasto</value>
            </setting>
            <setting name="MapPolish" serializeAs="String">
                <value>Mapa Polski</value>
            </setting>
            <setting name="BaseUrl" serializeAs="String">
                <value>https://localhost:7054</value>
            </setting>
            <setting name="WeatherController" serializeAs="String">
                <value>/api/PublicData</value>
            </setting>
            <setting name="GetAllWeather" serializeAs="String">
                <value>Pobierz aktualne dane pogodowe</value>
            </setting>
            <setting name="ChoseCityName" serializeAs="String">
                <value>Wybierz miasto:</value>
            </setting>
            <setting name="LoadCurrentData" serializeAs="String">
                <value>Wczytaj aktualne dane</value>
            </setting>
            <setting name="Status" serializeAs="String">
                <value>Stan</value>
            </setting>
            <setting name="Humidity" serializeAs="String">
                <value>Wilgotność</value>
            </setting>
            <setting name="Temperature" serializeAs="String">
                <value>Temperatura</value>
            </setting>
            <setting name="Pressure" serializeAs="String">
                <value>Ciśnienie</value>
            </setting>
            <setting name="ClientToken" serializeAs="String">
                <value>2e9cdfa3-1bbb-4419-b0f6-ab9640f2d520</value>
            </setting>
        </WeatherAppClient.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>